@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.Form{
    padding: 30px;
}

input{
    width: 80vh;
}

.Form__form{
    display: flex;
    flex-direction: column;
}

label{
    font-family: 'Amatic SC', cursive;
    font-size:xx-large;
    color: rgb(74, 6, 111);
}

.Buttonss{
    margin-left: 90vh;
}