@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.Link_statement{
    margin-top: 10vh;
    margin-left: 60vh;
    font-family: 'Amatic SC', cursive;
    font-size:xx-large;
    color: rgb(94, 24, 131);

}